body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('../images/login-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
}
.margin-content {
  margin: 20px;
}