.sign-form {
    background: rgba(27, 56, 37, 0.4);
    margin: 10px;
    color: #fff;
}

.sign-form > .form > .field > .inputText > input {
    color: #fff;
}
.formMargin {
    margin: 0 20px 0px 20px;
}
.header-form {
    color: #fff;
    text-align: center;
}

.button {
    width: 100%;
    height: 50px;
}
.divider {
    margin-top: 40px;
}
.socialButton {
    align-items: center;
    width: 100%;
}
.socialButtonDiv {
    margin-top: 40px;
}